NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WEBSITE_URL=https://openim.io/
NEXT_PUBLIC_ENTERPRISE_URL=https://openim.io/enterprise/
NEXT_PUBLIC_LEGACY_DOCS_URL=https://openim-docs-legacy.vercel.app
NEXT_PUBLIC_GITHUB_URL=https://github.com/openimsdk
# Example: https://github.com/your-org/your-docs/edit/main
NEXT_PUBLIC_EDIT_BASE_URL=
